.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    /* position: relative; */
    background-image: url('../../img/b6.webp');
    background-position: center;
    background-size:cover;


}
.row{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-right: 20rem;
}
/* .row>div:nth-child(1){
    display: flex;
    margin-right: 6rem;
    margin-top: 15rem;
} */