.Posts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-bottom: -415rem; */
}
.fpost{
    display: flex;
    /* flex-direction: column; */
    margin-left: 15rem;
    margin-top: 4rem;
}