.PostSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* height: 100%; */
    /* margin-top: 3rem; */
}
.posts{
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 4rem;
    overflow: scroll;
    position: relative;


}
.main{
    /* margin-top: -2rem; */
    width: 52rem;
    overflow: scroll;

}