.PostSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* height: 100%; */
    /* margin-top: 3rem; */
    /* overflow: auto; */
}
.posts{
    /* display: flex; */
    /* flex-direction: column; */
    margin-top: 20rem;
    overflow: auto;

}
.mainbg{
    margin-top: -2rem;
}