.PostShare{
    display: flex;
    gap: 1rem;
    background-color: (--cardColor);
    padding: 1rem;
    border-radius: 1rem;

}
.PostShare>Card{
    border-radius: 50%;
    width:3rem;
    height: 3rem;
}
.plus{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(106.23deg,#f99827,#f95f35 100%);
    border-radius: 5px;
    padding: 4px;
    color: white;
    width: 100%;
    height: 220px;
}
.plus:hover{
    cursor: pointer;
}
.crd:hover{
    cursor: pointer;
}

/* .main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* slider */

/* .portfolio .swiper{
    overflow: visible !important;
}
.portfolio-slider{
    margin-top:3rem;
    width: 100%;
}
.portfolio-slider .swiper-slide{
    width: 20rem;
}
.portfolio img{
    width: 19rem;
    height: 12rem;
    filter: drop-shadow(-12px 15px 13px rgba(0,0,0.25));
    border-radius:19px;
} */